
#add-new-password {
    border: 2px dashed rgb(155, 155, 155);
    box-shadow: 0px 0px 23px 7px rgba(66, 66, 66, 0.26);
    /* background: rgba(187, 187, 187, 0.384); */
    border-radius: 4px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#add-new-password button {
    background: rgba(218, 218, 218, 0.904);
    border: none;
    display: flex;
    align-items: center;
    /* border: 2px solid violet; */
    padding: 10px 20px;
    border-radius: 4px;
}

#add-new-password button img {
    height: 30px;
    width: 30px;
}

#add-new-password button p {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 0;
    margin-left: 10px;
}

@media screen and (max-width: 500px) {
    
    #add-new-password {
        width: 100%;
        padding: 20px 5px;
    }

    #add-new-password button {
        padding: 10px 20px;
        width: 90%;
        /* border: 2px solid violet; */
    }

    #add-new-password button p {
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        margin: 0;
        margin-left: 10px;
    }

}

