
#all-passwords {
    margin-top: 20px;
    width: 100%;
    /* border: 2px solid tomato; */
}

#pass-obj {
    /* border: 2px solid saddlebrown; */
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 10px;
}

table {
    /* border: 2px solid thistle; */
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

table thead th{
    font-size: 24px;
    font-weight: bold;
    background: rgba(153, 153, 153, 0.658);
    padding: 10px;
}

table tbody {
    font-size: 17px;
}

table tbody tr:nth-of-type(odd) {
    background: rgba(124, 124, 124, 0.082);
}

table tbody tr:nth-of-type(even) {
    background: rgba(124, 124, 124, 0.26);
}

.open-btn {
    padding: 5px 10px;
    font-size: 17px;
    border: none;
    border-radius: 4px;
}

@media screen and (max-width: 500px) { 

    #pass-objs-cards {
        width: 104%;
        /* border: 2px solid saddlebrown; */
        margin-top: 30px;
    }
    
    .obj-card {
        /* border: 2px solid cadetblue; */
        margin-bottom: 20px;
        border-radius: 4px;
        background: rgba(95, 95, 95, 0.678);
        text-align: left;
        padding: 8px 20px;
        font-size: 18px;
    }
    
    .obj-card p {
        letter-spacing: 1px;
    }

    .obj-card p button {
        margin-left: 10px;
        padding: 10px 10px;
    }

} 