
#create-new-password {
    /* border: 2px solid burlywood; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#create-new-password-comp {
    /* border: 2px solid teal; */
    border-radius: 4px;
    width: 70%;
    height: auto;
    padding: 20px 17px; 
    background: rgba(187, 187, 187, 0.432);
    box-shadow: 0px 0px 62px 15px rgba(0,0,0,0.46);
    position: relative;
}

#create-new-password-comp h2 {
    color: white;
    margin-left: 20px;
    letter-spacing: 1px;
    /* border: 2px solid seagreen; */
}


#close-btn {
    background: transparent;
    border: none;
    margin-right: 10px;
    transition: transform 0.2s ease-in-out;
    outline: none;
    position: absolute;
    top: 35px;
    right: 20px;
}

#close-btn:hover {  
    transform: scale(0.8);
}


#create-new-password-comp button img {
    width: 40px;
    height: 40px;
}

#new-password-form {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-password-form input {
    margin-top: 10px;
    width: 90%;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    outline: none;
    border-radius: 4px;
    border: 2px solid black;
    font-family: 'Poppins', sans-serif;
}

#new-password-form button {
    background: rgba(233, 233, 233, 0.993);
    margin-top: 20px;
    padding: 8px 20px;
    outline: none;
    border-radius: 4px;
    border: none;
    width: 95%;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width:500px) {

    #create-new-password-comp {
        width: 80vw;
    }

}