
#search-password {
    /* border: 2px solid teal; */
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background: rgba(187, 187, 187, 0.384);
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 23px 7px rgba(66, 66, 66, 0.164);
    margin-bottom: 20px;
} 

#search-password input {
    border: 2px solid black;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    outline: none;
    padding: 8px 4px;
    border-radius: 4px;
}

@media screen and (max-width: 500px) {
    
    #search-password {
        width: 100%;  
        padding: 20px 5px;      
    }

    #search-password input {
        width: 90%;
        font-size: 16px;
    }

}