
#view-password {
    /* border: 2px solid aqua; */
    backdrop-filter: blur(5px);    
    background-color: rgba(0, 0, 0, 0.61);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 110%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}


#view-password-comp {
    z-index: 4;
    background: rgba(114, 104, 104, 0.74);
    /* border: 2px solid salmon; */
    width: 50%;
    height: auto;
    padding: 10px;
    border-radius: 4px;
    position: relative;
    color: white;
}

#view-pass-cls-btn {
    background: transparent;
    border: none;
    position: absolute;
    right: 15px;
    transition: transform 0.1s ease-in-out;
}

#view-pass-cls-btn:hover {
    transform: scale(0.8);
}

#view-pass-cls-btn img {
    height: 40px;
    width: 40px;
}

#view-pass {
    margin-top: 50px;
    margin-bottom: 20px;
    /* border: 2px solid chartreuse; */
    margin-left: 20px;
    margin-right: 20px;
}

#view-pass p {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 10px;
}

#view-pass div {
    margin-top: 0px;
    display: flex;
    align-items: center;
}

#view-pass div button {
    margin-left: 15px;
    padding: 5px 20px;
    font-size: 20px;
}

#copied {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border: 1px solid rgba(11, 158, 43, 0.432);
    background: rgba(34, 231, 93, 0.212);
    border-radius: 4px;
}

@media screen and (max-width: 500px){
    
    #view-password {
        /* border: 2px solid aqua; */
        width: 110%;
        height: 110%;
    }

    #view-password-comp {
        width: 80%;
    }

    #view-pass {
        margin-left: 5px;
        margin-right: 5px;
    }

    #view-pass p {
        /* font-size: 18px; */
        padding: 5px;
    }
    
}