
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    background: rgb(41, 41, 41);
    font-family: 'Poppins', sans-serif;
    width: 100%;
    /* border: 2px solid violet; */
}

button {
    outline: none;
    border: none;
    border-radius: 4px;
    transition: transform 0.1s ease-in-out;
}

button:hover {
    transform: scale(0.9);
}

.loading {
    border: 2px solid rgba(0, 128, 0, 0.651);
    width: 91%;
    text-align: center;
    padding: 10px 5px;
    font-size: 18px;
    background: rgba(0, 128, 0, 0.37);
    letter-spacing: 1.4px;
    border-radius: 4px;
}